.row {
  display: flex;
  padding: 14px;
  font-weight: 400;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.table .table-header {
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.06);

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.cell {
  width: calc(100% / 3);
}
